.main__newproj {
	width: 50vw;
	margin-left:20vw;
}
.form {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.form input {
	margin-top: 20px;
	height: 30px;
	width: 350px;
	border-radius: 5px;


}
.form button{
	margin-top: 20px;
	height: 30px;
	width: 350px;
}




.main__allproj {
	width: 50vw;
	margin-left:20vw;
	align-items: center;
	
}
.table__allproj {
	border-collapse:collapse;
	width: 50vw;
	
}

th {
	border-collapse:collapse;
	border-bottom: 2px solid black;
}
td {
	border-collapse:collapse;
	border-bottom: 2px solid black;
	cursor: pointer;
}