.sprint__main {
	text-align: left;
	justify-content: space-around;
	margin-left:120px;
	display: flex;
	width: 100%;
}
.sprint__tasks {
	display: flex;
	flex-direction: row;
	margin-left: 0;
	align-items: baseline;
}
.sprint__row {
	margin-right: 25px;
}

.sprint__grid{
	text-align: left;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 200px;
}