.main__users  {
	width: 50vw;
	margin-left:120px;
	align-items: center;
}
.main__users h1 {
	text-align: left;

}
.main__users p {
	text-align: left;
	
}


.emp__grid{
	display: grid;
	grid-template-areas: 
	'logo name'
	'logo pos '
	'logo ball'
	'tab tab';
	grid-template-columns: 240px 1fr ;
	grid-template-rows: 80px 80px 80px 1fr;
	column-gap: 40px;
}
	.grid-p{
		display: grid;
			text-align: left;
			place-content: center left;
	}
		.emp__name{
			grid-area: name;
			
			
		}
		.emp__logo{
			width: 250px;
			grid-area: logo;
		}
		.emp__position{
			grid-area: pos;
			
		}
		.emp__e-ball{
			grid-area: ball;
			
		}
		.emp__table{
			grid-area: tab;
		}