body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, SuisseIntlRegular, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: SuisseIntlSemiBold;
  src: url(./fonts/SuisseIntl/SemiBold/SuisseIntl-SemiBold.eot);
  src: url(./fonts/SuisseIntl/SemiBold/SuisseIntl-SemiBold.woff), 
  url(./fonts/SuisseIntl/SemiBold/SuisseIntl-SemiBold.woff2); 
  }
@font-face {
    font-family: SuisseIntlRegular;
    src: url(./fonts/SuisseIntl/Regular/SuisseIntl-Regular.eot);
    src: url(./fonts/SuisseIntl/Regular/SuisseIntl-Regular.woff), 
    url(./fonts/SuisseIntl/Regular/SuisseIntl-Regular.woff2); 
    }
@font-face {
      font-family: SuisseIntlLight;
      src: url(./fonts/SuisseIntl/Light/SuisseIntl-Light.eot);
      src: url(./fonts/SuisseIntl/Light/SuisseIntl-Light.woff), 
      url(./fonts/SuisseIntl/Light/SuisseIntl-Light.woff2); 
      }
      @font-face {
        font-family: SuisseIntlUltralight;
        src: url(./fonts/SuisseIntl/UltraLight/SuisseIntl-Ultralight.eot);
        src: url(./fonts/SuisseIntl/UltraLight/SuisseIntl-Ultralight.woff), 
        url(./fonts/SuisseIntl/UltraLight/SuisseIntl-Ultralight.woff2); 
        }
        @font-face {
          font-family: SuisseIntlThin;
          src: url(./fonts/SuisseIntl/Thin/SuisseIntl-Thin.eot);
          src: url(./fonts/SuisseIntl/Thin/SuisseIntl-Thin.woff), 
          url(./fonts/SuisseIntl/Thin/SuisseIntl-Thin.woff2); 
          }